/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
 /* Some Varibales */
 :root{
--text-color: #021f2a;
--bg-color: #004aad;
--bg1-color: #38b6ff;
 }
 /* Custom Scroll Bar */
 html::-webkit-scrollbar{
    width: 0.5rem;
 }
 html::-webkit-scrollbar-thumb{
    background: transparent;
 }
 html::-webkit-scrollbar-track{
    background: var(--text-color);
    border-radius: 5rem;
 }
 section {
    padding: 50px 100px;
 }

 header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
 }

 .logo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    cursor: pointer;
 }

 .img-logo {
   height: 3rem;
 }


 .navbar {
    display: flex;
    column-gap: 5rem;
 }

 .navbar li {
    position: relative;
 }
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}
.navbar a::after {
    content: "";
    width: 0%;
    height: 0.5px;
    background: aliceblue;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.4s;
}
.navbar a:hover::after,
.navbar .bem-estar-active {
    width: 100%;
}

#menu-icon {
   font-size: 24px;
   cursor: pointer;
   z-index: 100001;
   display: none;
}

.container {
   width: 100%;
   min-height: 640px;
   position: relative;
   display: flex;
   align-items: center;

}

.container img {
   position: absolute;
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

